flows5.json
[
    {
        "id": "68d674573c824380",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9865af4083376ea",
        "type": "http request",
        "z": "68d674573c824380",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=19.261914&lon=-99.096277&appid=908d1bfe5375af9dd76bc681fb96a462&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "343b6cd57edfdf86"
            ]
        ]
    },
    {
        "id": "343b6cd57edfdf86",
        "type": "json",
        "z": "68d674573c824380",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "4df77a1f0b28d586",
                "39ad695e91142f73"
            ]
        ]
    },
    {
        "id": "d4ebbf26ac72ce61",
        "type": "inject",
        "z": "68d674573c824380",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "c9865af4083376ea"
            ]
        ]
    },
    {
        "id": "7ec7e3e188e6d855",
        "type": "ui_gauge",
        "z": "68d674573c824380",
        "name": "",
        "group": "38441ffd2258f4e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#3465a4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "14",
        "seg2": "26",
        "className": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "e7eead6e357a5ed5",
        "type": "ui_gauge",
        "z": "68d674573c824380",
        "name": "",
        "group": "38441ffd2258f4e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#888a85",
            "#00b500",
            "#204a87"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "4df77a1f0b28d586",
        "type": "function",
        "z": "68d674573c824380",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.main.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            [
                "7ec7e3e188e6d855"
            ]
        ]
    },
    {
        "id": "39ad695e91142f73",
        "type": "function",
        "z": "68d674573c824380",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "e7eead6e357a5ed5"
            ]
        ]
    },
    {
        "id": "4786a92eaa61b0c0",
        "type": "mqtt in",
        "z": "68d674573c824380",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "b19cfbfb792f6aa6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "b80632344b2e9812"
            ]
        ]
    },
    {
        "id": "b80632344b2e9812",
        "type": "json",
        "z": "68d674573c824380",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "ebb542a0692569ee",
                "282f0187e17a303e"
            ]
        ]
    },
    {
        "id": "ebb542a0692569ee",
        "type": "function",
        "z": "68d674573c824380",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "52dc8a2d52655c8e"
            ]
        ]
    },
    {
        "id": "52dc8a2d52655c8e",
        "type": "ui_chart",
        "z": "68d674573c824380",
        "name": "",
        "group": "2d8a52423668f952",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "282f0187e17a303e",
        "type": "function",
        "z": "68d674573c824380",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "a098a61909a02ba9"
            ]
        ]
    },
    {
        "id": "a098a61909a02ba9",
        "type": "ui_chart",
        "z": "68d674573c824380",
        "name": "",
        "group": "2d8a52423668f952",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "49bddd334fc039f2",
        "type": "inject",
        "z": "68d674573c824380",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "7008207afe8c7f2a"
            ]
        ]
    },
    {
        "id": "7008207afe8c7f2a",
        "type": "function",
        "z": "68d674573c824380",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Enrique, Xochimilco\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "78f9bbaddbd20515",
                "c8b3b24f0a716d74"
            ]
        ]
    },
    {
        "id": "78f9bbaddbd20515",
        "type": "debug",
        "z": "68d674573c824380",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "c8b3b24f0a716d74",
        "type": "mqtt out",
        "z": "68d674573c824380",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b19cfbfb792f6aa6",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "6d28e7b5322fae8f",
        "type": "comment",
        "z": "68d674573c824380",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "2416d6e9de8c0079",
        "type": "comment",
        "z": "68d674573c824380",
        "name": "Informacion General",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "4229e497476a01e2",
        "type": "comment",
        "z": "68d674573c824380",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "b6504787f5587b41",
        "type": "ui_spacer",
        "z": "68d674573c824380",
        "name": "spacer",
        "group": "38441ffd2258f4e4",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "38441ffd2258f4e4",
        "type": "ui_group",
        "name": "Personal",
        "tab": "bba1669097e96599",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b19cfbfb792f6aa6",
        "type": "mqtt-broker",
        "name": "Broker G9",
        "broker": "3.123.49.252",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d8a52423668f952",
        "type": "ui_group",
        "name": "General",
        "tab": "bba1669097e96599",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bba1669097e96599",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]